{% extends "base.html" %}
{% block content %}
<h1>Listaus työaiheen suorituksista</h1>

<p>
    <a href="/projekti/tyoaiheet/{{tyoaihe.id}}/uusisuoritus}" class="btn btn-success">Lisää suoritus</a>
    
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Kurssi</th>
            <th>Opettaja </th>
            <th>Suorituksen tuntimäärä</th>
            <th>Arvosana</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan työaiheet tähän -->
        {% for tyoaihe in tyoaiheet %}
        <tr>
            <td><a href="/projekti/tyoaiheet/{{tyoaihe.id}}">{{tyoaihe.nimi}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>

            <th><a class="btn btn-default btn-sm" href="/projekti/tyoaiheet/{{tyoaihe.id}}/edit">Muokkaa</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

